@font-face
  font-family ITCAvantGardeProBold
  src local('AvantBold') url(/fonts/ITCAvantGardeProBold.otf) format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family ITCAvantGardeProBk
  src local('AvantBk') url(/fonts/ITCAvantGardeProBk.otf) format('otf')

@font-face
  font-family ITCAvantGardeProMd
  src local('AvantMd') url(/fonts/ITCAvantGardeProMd.otf) format('otf')

.spacer-sm
  clear both
  height 16px

.spacer-md
  clear both
  height 24px

.spacer-lg
  clear both
  height 32px

body
  font-family sans-serif

h2
  font-size 88px

.pt
  /*padding-top 10%*/

.height-100
  min-height calc(100vh - 54px)
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

