@font-face
  font-family ITCAvantGardeProBold
  src url(../fonts/ITCAvantGardeProBold.otf) format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family ITCAvantGardeProBk
  src url(../fonts/ITCAvantGardeProBk.otf) format('truetype')

@font-face
  font-family ITCAvantGardeProMd
  src url(../fonts/ITCAvantGardeProMd.otf) format('truetype')

.spacer-sm
  clear both
  height 16px

.spacer-md
  clear both
  height 24px

.spacer-lg
  clear both
  height 32px

body
  font-family ITCAvantGardeProBk,sans-serif

h1
  display grid
  position relative
  z-index 1
  font-family ITCAvantGardeProBold, sans-serif

h1:before, h1:after, h2:before, h2:after
  content attr(data-glitch)
  position absolute
  left 0
  right 0
  top 0
  bottom 0

h1:before, h2:before
  z-index -1
  color #df1a4a
  animation glitch 10s linear infinite

h1:after, h2:after
  z-index -2
  color white
  animation glitch 10s linear infinite reverse

h2
  font-size 88px
  line-height 1.09
  letter-spacing -4.13px
  text-align right
  position relative
  font-family ITCAvantGardeProBold, sans-serif
  span
    color #df1a4a

h4
  font-family ITCAvantGardeProBold, sans-serif

input[type="text"],
textarea
  font-family ITCAvantGardeProBk, sans-serif

input[type="submit"]
  font-family ITCAvantGardeProBold, sans-serif

.pt
  padding-top 10%

.height-100
  min-height calc(100vh - 54px)
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

@keyframes glitch
  9%
    transform none
  11%
    transform none

  10%
    transform translate(3px, -3px)

  47%
    transform none
    filter none
  53%
    transform none
    filter none

  49%
    transform translate(-10px, -10px)
    filter blur(1px)
    opacity .5

  50%
    transform translate(10px, 10px)
    filter blur(1px)
    opacity .5

  51%
    transform translate(10px, -10px)
    filter blur(1px)
    opacity .5

  89%
    transform none
    filter none
  91%
    transform none
    filter none

  90%
    transform translate(-3px, 3px)



